@charset "UTF-8";
:root{
    --cor0: #54595F;
    --cor1: #F3D30C;
    --cor2: #EAEAEA;
    --cor3: #7A7A7A;
}
/* @import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Oswald:wght@400;500;600;700&display=swap'); */

*{
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.info{
    background-color: var(--cor0);
}
.ul{
    display: flex;
    list-style-type: none;
    color: white;
    padding: 15px 10px;
    justify-content:space-around;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ul i {
    color: var(--cor1);
    font-size: 20px;
    margin-right: 10px;
}
.ul .social i{
    font-size: 35px;
    color: white;   
}
.banner{
    background-image: url(assets/banner-4-1024x341\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    padding: 120px;
}
h1{
    color: var(--cor0);
    font-size: 72px;
    margin-left: 350px;
    font-family: 'Contrail One', sans-serif;
}
.banner p{
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 1px 1px 10px var(--cor0);
    margin-left: 350px;
    margin-bottom: 50px;
    font-family: sans-serif;
}

.btn{
    text-decoration: none;
    color: #54595F;
    background-color: white;
    padding: 18px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 350px;
    box-shadow: 1px 1px 10px #b3b3b3;    
}

